/*** LEVEL 1 */
/************ CONTAINER **************/
.container{
	width: 100%;
	background-color: green;
}

/** LEVEL 2 */
/************** QA **************/
.qa{
	width: 800px;
	margin-top: 80px;
	margin-left: 80px;
	float: left;
}

/* LEVEL 3 */
/* ----- QUESTION ----- */
.question {
	width:  800px;
	height: 400px;
	border: 1px solid grey;
	border-radius: 10px;
}


.header-Q{
	margin-top: 40px;
	font-weight: bold;
}

.textBox{
	width: 500px;
	height: 25px;
}

.txt-sub{
	width: 300px;
	height: 25px;
}

.select-box {
    height: 25px;
    border-radius: 10px;
}

/* LEVEL 3 */
/* ----- ANSWER -----  */
.answer {
	width:  800px;
	height: 400px;
	border: 1px solid grey;
	border-radius: 10px;
	text-align: 50px;
}

.header-A{
	margin-top: 40px;
	font-weight: bold;
}

.btn-insert{
	font-size: 12px;
    height: 20px;
    width: 40px;
    border-radius: 10px;
    font-weight: bold;
}

.tableAnswer {
	
}


.btn-1 {
    font-size: 14px;
    height: 30px;
    width: 100px;
    transition-duration: 0.4s;
    font-weight: bold;
}


/** LEVEL 2 */
/************** ALL QUESTION **************/
.list{
	margin-top: 80px;
	margin-right: 80px;
	width:  1000px;
	height: 840px;
	border: 1px solid grey;
	border-radius: 10px;
	float: right;
	overflow: auto;
}

.list-form{
	margin-top: 40px;
	margin-left: 20px;
}

.list-form, tr{
	height: 30px;
}

.btn-2 {
    font-size: 13px;
    height: 25px;
    width: 80px;
    transition-duration: 0.4s;
    font-weight: bold;
}
